<!doctype html>
<html lang="en">
<head>
	<title>Sidebar 03</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/css/style.css">
	@RenderSection("Style", required: false)
	<style>
		#sidebar {
			min-width: 270px;
			max-width: 270px;
			background: #1A3636 !important;
			color: #fff;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			position: relative;
		}

			#sidebar .custom-menu .btn.btn-primary {
				background: #1A3636;
				border-color: #1A3636;
			}

				#sidebar .custom-menu .btn.btn-primary:hover{
					background-color: #D6BD98 !important;
					border-color: #D6BD98 !important;
				}

				#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
					background: #D6BD98 !important;
					border-color: #D6BD98 !important;
				}

		.btn.btn-primary, .btn.btn-primary:focus {
			background: #1A3636;
			border-color: #1A3636;
			transition: all .5s;
		}

			.btn.btn-primary:hover {
				background-color: #D6BD98 !important;
				border-color: #D6BD98 !important;
			}

		input, textarea {
			border: 3px solid transparent !important;
			box-shadow: 0 0 3px #677D6A !important;
		}

			input:focus, textarea:focus {
				outline: none !important;
				border: 3px solid #D6BD98 !important;
				box-shadow: none !important;
			}

		.form-control {

			box-shadow: 0 0 3px #677D6A !important;
		}

		.back {
			color: #1A3636 !important;
		}

			.back:hover {
				color: #677D6A !important;
		}

		.btn-success{
			background-color: #1A3636 !important;
			transition: all .5s;
		}


		.btn-success:hover {
				background-color: #D6BD98 !important;
		}

		.btn.btn-primary:focus{
			background-color: #1A3636 !important;
		}
	</style>
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar" @* class="active" *@>
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				@* <h1><a href="index.html" class="logo">Flash</a></h1> *@
				<img src="/img/ByteCraft.png" style="width: 227px" alt="Alternate Text" />
				<ul class="list-unstyled components mb-5">
					<li class="active">
						<a asp-action="Dashboard" asp-controller="Managers"><i class="fa fas fa-home mr-3"></i>Employees</a>
					</li>
					<li>
						<a asp-action="Addemp" asp-controller="Managers"><i class="fa fa-building mr-3"></i>Add a new employee</a>
					</li>
					<li>
						<a asp-action="AssignTask" asp-controller="Managers"><i class="fa fa-user mr-3 mr-3"></i>Assign task </a>
					</li>
					<li>
						<a asp-action="Index" asp-controller="Managers"><i class="fa fa-users mr-3"></i>Leaves Requests </a>
					</li>

					<li>
						<a asp-action="ManagerProfile" asp-controller="Managers"><i class="fa fa-user mr-3"></i>Profile</a>
					</li>
					<li>
						<a asp-action="Logout" asp-controller="Employee"><i class="fa fa-sign-out mr-3"></i>Logout</a>
					</li>
				</ul>

			</div>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">

			@RenderBody()

		</div>
	</div>

	<script src="~/js/bootstrap.js"></script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>